<!-- <div class="container">
  <div class="jumbotron text-center">
    <h2>Board Snap</h2>
    <p>Welcome to Board Snap - your link between your physical board and the easy digital collection</p>
    <div>
      <a href="#" class="btn btn-primary">Shop Device</a>
      <a href="#" class="btn btn-secondary">Register</a>
    </div>
  </div>
</div> -->

<mat-card class="text-center">
  <mat-card-title>Board Snap</mat-card-title>
  <mat-card-content>
    <p>Welcome to Board Snap - your link between your physical board and the easy digital collection</p>
    <button mat-raised-button color="primary">Shop Device</button>
    <button mat-raised-button color="primary">Get App</button>
    <button mat-raised-button color="primary">Register</button>
  </mat-card-content>
</mat-card>